{% assign postsByYearMonth = site.posts | group_by_exp: "post", "post.date | date: '%B %Y'" %}

<link rel="stylesheet" href="index.css">

<div class="archive">
  
    <h2>Experience</h2>
    <ul>
  
      <li><a href="/experience/auditionify">Software Engineer @ Auditionify</a><span class="lead">November 2023 - Present</span></li>
      <li><a href="/experience/cbre">Software Engineer Intern @ CBRE (GWS)</a><span class="lead">June 2024 - Present</span></li>
      <li><a href="/experience/compass">Lead Software Engineer @ Compass Institution</a><span class="lead">March 2022 - May 2024</span></li>
      <li><a href="/experience/cbre">Software Engineer Intern @ CBRE (VAS)</a><span class="lead">June 2023 - August 2023</span></li>
      <li><a href="/experience/ujima-lab">Researcher @ Ujima Security & Privacy Lab</a> <span class="lead">June 2022 - December 2023</span></li>
      
    </ul>
  
    <h2>Projects</h2>
    <ul>
  
      <li><a href="/projects/cnn-classification">CNN Classification of AI-Generated Faces</a> <span class="lead">January 2024 – March 2024</span></li>
      <li><a href="/projects/restaurant-rating-predictor">Restaurant Rating Predictor</a> <span class="lead">October 2023 – December 2023</span></li>
      <li><a href="https://github.com/anishcd/basketball-shot-detection">Basketball Shot Object Detection</a> <span class="lead">June 2023 – July 2023</span></li>
      <li><a href="https://github.com/anishcd/fantasy-football-wizard">Fantasy Football Wizard</a> <span class="lead">May 2023 – June 2023</span></li>
      <li><a href="https://github.com/anishcd/spotify-popularity-game">Spotify Higher/Lower</a> <span class="lead">May 2022 – March 2023</span></li>
      <li><a href="/experience/compass">Food Insecurity Time Series Analysis</a> <span class="lead">October 2022 – May 2024</span></li>
      
    </ul>
    
    <h2>Relevant Coursework</h2>
    <ul>
      
      <li><a href="https://mathweb.ucsd.edu/~tkemp/18/">Linear Algebra</a> <span class="lead">Winter 2022</span></li>
      <li><a href="https://ucsd-cse15l-w22.github.io/index.html">Software Tools & Techniques</a> <span class="lead">Winter 2022</span></li>
      <li><a href="https://cseweb.ucsd.edu/classes/sp22/cse30-a/docs/CSE_30_Syllabus_Spring_2022.pdf">Computer Organization & Systems Programming</a> <span class="lead">Spring 2022</span></li>
      <li><a href="https://cseweb.ucsd.edu//~dakane/Math184/">Enumerative Combinatorics</a> <span class="lead">Fall 2022</span></li>
      <li><a href="https://sagrawalx.github.io/teaching/fa22_math103a/">Modern Algebra I</a> <a href="https://mathweb.ucsd.edu/~asuk/math103af21.html">& II</a><span class="lead">Fall 2022, Winter 2023</span></li>
      <li><a href="https://cseweb.ucsd.edu/classes/wi22/cse105-a/">Theory of Computation</a> <span class="lead">Fall 2023</span></li>
      <li><a href="https://github.com/COGS108/Overview/blob/master/COGS108-Syllabus.md">Data Science in Practice</a> <span class="lead">Fall 2023</span></li>
      <li><a href="https://cseweb.ucsd.edu/classes/fa22/cse258-a/">Web Mining & Recommender Systems</a> <span class="lead">Fall 2023</span></li>
      <li><a href="https://cseweb.ucsd.edu/~dakane/CSE101/">Design and Analysis of Algorithms</a> <span class="lead">Spring 2023</span></li>
      
    </ul>
</div>
